* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-family: sans-serif;
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer aside aside";
}

header {
  grid-area: header;
  background-color: silver;
  display: grid;
  place-items: center;
  font-size: large;
  padding: 0.5rem;
}

main {
  grid-area: main;
  padding: 1rem;
}
main > section {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
footer {
  grid-area: footer;
  background-color: cyan;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
section > h2 {
  margin-bottom: 1rem;
}

section > p {
  margin-bottom: 1rem;
}
aside {
  grid-area: aside;
  background-color: rgb(141, 139, 238);
}
aside > p {
  margin-bottom: 1rem;
}
footer,
aside {
  padding: 1rem;
}

@media (min-width: 1200px) {
  body {
    grid-template-areas:
      "header header header header"
      "main main main aside"
      "footer footer footer aside";
  }
  main {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  footer {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
  }
  .aside-title::before {
    content: "";
    background: url("./images/Desktop.png");
    display: block;
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }
}
